{% extends "base.html" %}

{% block content %}
	<div class="post">
		<div class="post-title"> About me </div>
		<div> 
			I'm passionate to face new challenges, to create solutions that solves real problems in the simplest way. All this done in a fast and steady pace that could only be found in the software engineer area. I'm also love to make barbecue on my free time and my spend time with my family and friends.
		</div>

		<ul>
			<li><a target="_blank" href="https://stackoverflow.com/story/claudio-renato-leal-dos-santos-194694">Stack Overflow</a></li>
			<li><a target="_blank" 	href="https://github.com/cld-santos">GitHub</a></li>
			<li><a target="_blank" href="https://www.linkedin.com/in/claudio-santos-394ba19/">Linked-in</a></li>
			<li><a target="_blank" href="https://www.youtube.com/channel/UCfwD6RHS1RgVkbXa_ORjj4g">Youtube Channel(pr-br)</a></li>
			<li><a target="_blank" href="https://www.hackerrank.com/cld_santos">Hacker Rank Profile</a></li>
		</ul>

	</div>
	<div class="separator-small"></div>
	<hr align="center">
	<div class="separator-regular"></div>
{% endblock %}
